<div >
    <h1 class="text-center pb-5 text-main" > ResetPassword</h1>

    <form class=" "(ngSubmit)="ResetPassword(ResetPasswordForm)" [formGroup]="ResetPasswordForm">
        <div class='row gy-3    '>
            <div class="col-md-8  m-auto">
                <div class='row gy-3   bg-light shadow p-4'>
                 
                    
                    <div class="col-md-12">
                        <label for=" email" class="form-label"> email: </label>
                        <input type="email" class="form-control mb-2" formControlName="email" id=" email"  >
                    </div>
                    
                    <div class="col-md-12">
                        <label for="newPassword" class="form-label">newPassword: </label>
                        <input type="password" class="form-control mb-2" formControlName="newPassword" id="newPassword"  >
                    </div>
                   
                  
                    
                    <div class="col-md-12  text-end">
                    <button type="submit" [disabled]="ResetPasswordForm.invalid" class="btn border-none border-0 text-light bg-main ">ResetPassword
                        <span *ngIf="isLoad"><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span> </button> 
                    
                        </div>
                       
                    </div>
                </div>
        </div>
        
    </form>
</div>


