<div class="m-auto" id="Forget">
    <h3 class="text-center text-main pb-5"> Forget Password</h3>

<form (ngSubmit)="Forget(ForgetPassword)" [formGroup]="ForgetPassword">
    <div class="row">
        <div class="col-md-6  m-auto">
            <div class="row gy-3   bg-light shadow p-4">
                <div class="col-md-12">
                    <label for=" email" class="form-label"> email: </label>
                    <input type="email" class="form-control mb-2" formControlName="email" id=" email"  >
                </div>
                <div class="col-md-12  text-end">
                    <button type="submit" class="btn border-none border-0 text-light bg-main ">ForgetPassword
                        <span *ngIf="isLoad" ><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span> </button> 
                    
                        </div>
            </div>
        </div>
        
    </div>
</form>
</div>
<div class="m-auto d-none " id="VerifyReset">
    <h3 class="text-center text-main pb-5">VerifyReset</h3>

<form (ngSubmit)="verifyReset(VerifyReset)" [formGroup]="VerifyReset">
    <div class="row">
        <div class="col-md-6  m-auto">
            <div class="row gy-3   bg-light shadow p-4">
                <div class="col-md-12">
                    <label for="resetCode" class="form-label"> resetCode: </label>
                    <input type="text" class="form-control mb-2" formControlName="resetCode" id="resetCode" placeholder="Enter you resetCode" >
                </div>
                <div class="col-md-12  text-end">
                    <button type="submit"  class="btn border-none border-0 text-light bg-main ">Reset
                        <span *ngIf="isLoad" ><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span> </button> 
                    
                        </div>
            </div>
        </div>
        
    </div>
</form>
</div>
