<form (ngSubmit)="  CheckoutPayment()"  [formGroup]="shippingAddress">
    <h1 >Payment Form</h1>
    <div class='row gy-3   py-5 '>
        <div class="col-md-8  m-auto">
            <div class='row gy-3   bg-light shadow p-4'>
                
 
                <div class="col-md-12">
                    <label for=" details" class="form-label"> details: </label>
                    <input type="text" class="form-control mb-2" formControlName="details" id=" details"  >
                </div>
                
                <div class="col-md-12">
                    <label for=" city" class="form-label"> city: </label>
                    <input type="text" class="form-control mb-2" formControlName="city" id=" city"  >
                </div>
                <div class="col-md-12">
                    <label for=" phone" class="form-label"> phone: </label>
                    <input type="tel" class="form-control mb-2" formControlName="phone" id=" phone"  >
                </div>
                <div class="col-md-12  text-end">
                <button type="submit" [disabled]="shippingAddress.invalid" class="btn border-none border-0 text-light bg-main ">Login
                    <span ><i class='fa-solid text-light m-2  fa-spinner fa-spin'></i></span> </button> 
                
                    </div>
                </div>
            </div>
    </div>
</form>
